* {
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}
*::selection {
  background: #00dbde;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

html {
  background: #e0dfdf;
  color: #5f6368;
  font-size: 12px;
  height: 100vh;
  width: 100vw;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
html body {
  background: unset;
  display: grid;
  place-items: center;
  padding: 1rem 2rem;
  height: 100%;
  width: 100%;
}

main {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}
main h1 {
  color: #5f6368;
  margin-bottom: 1.5rem;
}
main .content {
  background: unset;
  border: unset;
  height: auto;
  width: auto;
  min-width: 16rem;
}
main .content .display,
main .content .display::before {
  background: linear-gradient(230deg, #fc00ff 48.13%, #00dbde);
}
main .content .display {
  position: relative;
  background-size: 250%;
  background-position: left;
  border: unset;
  border-radius: 14px 14px 0 0;
  height: 12rem;
  width: auto;
}
main .content .display::before {
  content: "";
  border-radius: 18px;
  filter: blur(25px);
  transform: translateY(5px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
main .content .buttons-container {
  display: flex;
  background: #e0dfdf;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.125);
  margin-top: -0.5rem;
  position: relative;
  z-index: 10;
}
main .content .buttons-container .grid-buttons, main .content .buttons-container .buttons-container__left__box-3, main .content .buttons-container .buttons-container__left__box-2, main .content .buttons-container .buttons-container__left__box-1 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0;
}
main .content .buttons-container button {
  background: #e0dfdf;
  border: none;
  cursor: pointer;
  color: #5f6368;
  font-size: 2rem;
  height: 6rem;
  width: 6rem;
  transition: all 125ms ease;
  user-select: none;
}
main .content .buttons-container button:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.125));
}
main .content .buttons-container__left__box-1 button {
  background: #d1d1d1;
}
main .content .buttons-container__left__box-1 button:first-child div {
  background: linear-gradient(230deg, #fc00ff 48.13%, #00dbde);
  background-size: 350%;
  background-position: 0 35%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
main .content .buttons-container__left__box-3 button:first-child {
  border-radius: 0 0 0 14px;
  padding-left: 2.7rem;
  text-align: left;
  width: 12rem;
}
main .content .buttons-container__left__box-3 button:last-child {
  background: #d1d1d1;
}
main .content .buttons-container__right {
  display: flex;
  flex-direction: column;
}
main .content .buttons-container__right button {
  background: #d1d1d1;
}
main .content .buttons-container__right button:last-child {
  background: linear-gradient(230deg, #fc00ff 48.13%, #00dbde);
  background-size: 350%;
  background-position: 0 30%;
  border-radius: 0 0 14px 0;
  color: #e0dfdf;
  position: relative;
}

/*# sourceMappingURL=styles.css.map */
