* {
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}
*::selection {
  background: #00dbde;
  color: #fefefe;
  -webkit-text-fill-color: #fefefe;
}

html {
  background: #e0dfdf;
  color: #5f6368;
  font-size: 12px;
  height: 100vh;
  width: 100vw;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
html body {
  background: unset;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: grid;
  place-items: center;
  height: 85vh;
  width: 100vw;
}
main .main {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}
main .main h1 {
  color: #5f6368;
  margin-bottom: 1.5rem;
}
main .main .content {
  background: unset;
  border: unset;
  height: auto;
  width: auto;
  min-width: 16rem;
}
main .main .content .display,
main .main .content .display::before {
  background: linear-gradient(230deg, #fc00ff 48.13%, #00dbde);
}
main .main .content .display {
  position: relative;
  background-size: 250%;
  background-position: left;
  border: unset;
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  padding: 2rem;
  height: 12rem;
  width: auto;
}
main .main .content .display::before {
  content: "";
  border-radius: 18px;
  filter: blur(25px);
  transform: translateY(5px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
main .main .content .display h1,
main .main .content .display p {
  color: #fefefe;
}
main .main .content .display h1 {
  font-size: 3.75rem;
  font-weight: normal;
}
main .main .content .display p {
  font-size: 1.25rem;
  opacity: 0.85;
}
main .main .content .buttons-container {
  display: flex;
  background: #e0dfdf;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.125);
  margin-top: -0.5rem;
  position: relative;
  z-index: 10;
}
main .main .content .buttons-container .grid-buttons, main .main .content .buttons-container .buttons-container__left__box-3, main .main .content .buttons-container .buttons-container__left__box-2, main .main .content .buttons-container .buttons-container__left__box-1 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0;
}
main .main .content .buttons-container button {
  background: #e0dfdf;
  border: none;
  cursor: pointer;
  color: #5f6368;
  font-size: 2rem;
  font-weight: 400;
  height: 6rem;
  width: 6rem;
  transition: all 125ms ease;
  user-select: none;
}
main .main .content .buttons-container button:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.125));
}
main .main .content .buttons-container button:active {
  transform: scale(1);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.125));
}
main .main .content .buttons-container__left__box-1 button {
  background: #d1d1d1;
}
main .main .content .buttons-container__left__box-1 button:first-child div {
  background: linear-gradient(230deg, #fc00ff 48.13%, #00dbde);
  background-size: 350%;
  background-position: 0 35%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
main .main .content .buttons-container__left__box-3 button:first-child {
  border-radius: 0 0 0 12px;
  padding-left: 2.7rem;
  text-align: left;
  width: 12rem;
}
main .main .content .buttons-container__left__box-3 button:last-child {
  background: #d1d1d1;
}
main .main .content .buttons-container__right {
  display: flex;
  flex-direction: column;
}
main .main .content .buttons-container__right button {
  background: #d1d1d1;
}
main .main .content .buttons-container__right button:last-child {
  background: linear-gradient(230deg, #fc00ff 48.13%, #00dbde);
  background-size: 350%;
  background-position: 0 30%;
  border-radius: 0 0 12px 0;
  color: #fefefe;
  position: relative;
}

.false-floor {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.false-floor__button {
  aspect-ratio: 1/1;
  background: #e0dfdf;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.125);
  cursor: pointer;
  position: relative;
  width: 4rem;
  transition: all 125ms ease;
  font-size: 1.25rem;
  font-weight: bold;
  color: #5f6368;
}
.false-floor__button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.225);
}
.false-floor__button::before {
  content: "";
  position: absolute;
  top: -15%;
  left: -15%;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.125);
  width: 130%;
  z-index: -1;
}

.social-footer {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 2rem 0;
}
.social-footer h1 {
  text-transform: capitalize;
}

.red {
  background: red !important;
}

/*# sourceMappingURL=styles.css.map */
