main {
  display: inline-flex;
  flex-direction: column;
  text-align: left;

  h1 {
    color: $text-color;
    margin-bottom: 1.5rem;
  }

  .content {
    background: unset;
    border: unset;
    height: auto;
    width: auto;
    min-width: 16rem;

    .display,
    .display::before {
      background: $gradient;
    }

    .display {
      position: relative;
      background-size: 250%;
      background-position: left;
      border: unset;
      border-radius: $radius $radius 0 0;
      height: 12rem;
      width: auto;

      &::before {
        content: "";
        border-radius: 18px;
        filter: blur(25px);
        transform: translateY(5px);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }

    .buttons-container {
      display: flex;
      background: $main-color;
      border-radius: $radius;
      box-shadow: 0 15px 25px rgba($color: #000000, $alpha: 0.15);
      margin-top: -1rem;
      position: relative;
      z-index: 10;

      .grid-buttons {
        display: grid;
        grid-template-columns: repeat(3, 5rem);
        gap: 0;
      }

      button {
        aspect-ratio: 1/1;
        background: unset;
        border: none;
        cursor: pointer;
      }

      &__left {
        &__box-1 {
          @extend .grid-buttons;
        }

        &__box-2 {
          @extend .grid-buttons;
        }

        &__box-3 {
          @extend .grid-buttons;
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
