// --------------------- //
// colors //
// --------------------- //

$main-color: #e0dfdf;
$second-color: #d1d1d1;
$color-1: #fc00ff;
$color-2: #00dbde;
$gradient: linear-gradient(230deg, $color-1 48.13%, $color-2);
$text-color: #5f6368;
$text-color-2: #fefefe;
$transition: all 125ms ease;
$radius: 12px;

// --------------------- //
